body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 15vh;
  background-color: green;
}
.content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: aliceblue;
}
.button {
  align-self: center;
}
.sidebar {
  width: 15vw;
  background-color: greenyellow;
}
.footer {
  height: 15vh;
  background-color: skyblue;
  transform: translateY(100%);
}
